bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs/ProjectSettings.json
/.vs/ArtificialIntelligenceMethodsProject/v16/.suo
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/ArtificialIntelligenceMethodsProject/DesignTimeBuild/.dtbcache.v2
/.vs/ArtificialIntelligenceMethodsProject/v16/TestStore/0/testlog.manifest
/.vs/ArtificialIntelligenceMethodsProject/v16/TestStore/0/000.testlog
